<h1>Seja Bem-vindo!</h1>
<p><strong>Data:</strong> <%= data_br(Date.today) %> </p>

<%= render "menu" %>

<p>
  O ambiente que você está é: <strong><%= ambiente_rails %></strong>
</p>
<p>
  O seu nome é: <strong><%= @meu_nome %></strong>
</p>
<p>
  O curso é: <strong><%= @meu_curso %></strong>
</p>
