<h1> <%= I18n.t("hello") %> </h1>

<p>Idioma da aplicação: <strong><%= I18n.t("actual_locale") %></strong> </p>

<p>Data de hoje: <strong><%= l(Date.today) %></strong> </p>

<%= render "menu" %>

<p>
  O ambiente que você está: <strong><%= ambiente_rails %></strong>
</p>