<div id="<%= dom_id coin %>">
  <p>
    <strong><%= Coin.human_attribute_name(:description) %>:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong><%= Coin.human_attribute_name(:acronym) %>:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong><%= Coin.human_attribute_name(:url_image) %>:</strong>
    <%= image_tag coin.url_image, width: 20, height: 20 %>
  </p>

   <p>
    <strong><%= Coin.human_attribute_name(:mining_type) %>:</strong>
    <%= coin.mining_type.description %>
  </p>

</div>
